:host.pc .about {
    margin-top: 20px;
    background: rgb(251, 251, 251);
    padding: 10px 0 20px 0;
    text-align: center;
}
 
:host.pc .about p {
    font-size: 1rem;
    color: #000000;
    max-width: 800px;
    margin: 0 auto;
}
 
:host.pc .about-info {
    margin: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}
 
:host.pc .about-img {
    width: 20rem;
    height: 20rem;
 
}
 
:host.pc .about-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: contain;
}
 
:host.pc .about-info p {
    font-size: 1.3rem;
    margin: 0 2rem;
    text-align: justify;
}

/* About Section */
 
.about {
    margin-top: 5px;
    background: rgb(251, 251, 251);
    text-align: center;
}
 
.about p {
    font-size: 1rem;
    color: #000000;
    max-width: 300px;
}
 
.about-info {
    margin: 2rem 2rem;
    text-align: left;
}
 
.about-img {
    width: auto;
    height: auto;
}
 
.about-img img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: contain;
}
 
.about-info p {
    font-size: 10px;
}