<section class="about">
    <div class="about-info">
        <div class="about-img">
            <a href="https://play.google.com/store/apps/details?id=com.coderdroid.app.shortcut" target="_blank">
                <img src="assets/google-play-badge.png" >

            </a>
        </div>
        <div>
        <p> Shortcuts is educational application provide different many shortcuts' tricks so that you can increase your work speed.

            You can use Keyboard Shortcuts instead of mouse. Keyboard shortcuts can make it easier to interact with your computer and saving you time.
            
            Shortcut keys are generally required to operate fast over tools.  <br/> <br/>
            
            <b>"Shortcuts" App is the simple and short ways to recall or learn to use more shortcut keys Guides for more software applications. All shortcut keys Android App is more useful to learn more Knowledge about using the software in keyboard.</b>
            <br/> <br/>
            Currently 20+ software shortcut keys were in this app. mainly focused for the computer users to avoid using the Mouse and platform. Most of engineering software also was inclusive.
            
            The Aim of this Application - "Shortcuts" App solves the problem of platform dependency, it includes all the shortcuts for mostly used tools in Software development and also provides shortcuts for various Operating System such as Windows, MacOS and Linux
    
   
            <br/>
            <br/>
            Thank you & Enjoy.
        </p>
        </div>
    </div>
</section>