#container{
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 2px;
  display: flex;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #1fc4e6;
  color: white;
  text-align: center;
  box-shadow: 0 10px 10px -2px rgb(106, 153, 198);
  #links{
    flex-grow: 1;
    display: flex;
    gap: 20px;
    justify-content: left;
  }
 
  .link{
    cursor: pointer;
    padding: 10px;
    &:hover{
      color: #000;
    }

    &.active{
      background: rgb(255,0,0);
      background: linear-gradient(90deg, rgba(255,0,0,1) 6%, rgb(240, 152, 152) 98%);
      border-radius: 5px;
    }
  }

  .img{
    width: 80px;
    height: 80px;
    margin-right: 50px;
    margin-left: 50px;
  }
}