<div class="container">

    <h1>{{Root.name}}</h1>
    <div class="item-wrapper">
        
        <div class="item" *ngFor="let item of Root.labels">
            <h3 style="color: rgb(251, 70, 38);
            margin-left: 20px;">{{item.label}}</h3>
            <table class="table">
                <tbody>
                    <tr class="table-head">
                        <td></td>
                        <td><b>Windows</b></td>
                        <td><b>Mac</b></td>
                        <!-- <td><b>Linux</b></td> -->
                    </tr>

                    <tr class="row-wrapper" *ngFor="let key of item.shortcuts">
                        <td class="one" width="40%"><b>{{key.label}}</b></td>
                        <td class="one" width="30%">{{key.windows}}
                            <img class="img" src="assets/copy-link.png" alt="">
                        </td>
                        <td class="one" width="30%">{{key.macos}} <img class="img" src="assets/copy-link.png" alt=""></td>
                        <!-- <td class="one" width="20%">{{key.Linux}} <img class="img" src="assets/copy-link.png" alt=""></td> -->
                        <!-- <td width="300px">{{key.others}}</td> -->
                    </tr>
                </tbody> 
            </table>
        </div>

    </div>
</div>
<app-scroll-top></app-scroll-top>